<!-- This is a partial view - works in any view file we want -->
<h2 class="form-title"> <%= page_title %></h2>
<br /><br />

<%= form_for @book do |f| %>

  <%= f.label :title %>
  <%= f.text_field :title %>
  <br /><br />

  <%= f.label :author %>
  <%= f.select :author_id, Author.all.map{|author| [author.name, author.id]} %>
  <br /><br />

  <%= f.label :description %>
  <%= f.text_area :description %>
  <br /><br />

  <%= f.submit %>

<% end %>
